* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cookie-container {
    background-color: red;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cookie-container > img {
    width: 100px;
    height: 100px;
}

.cookie-container > p {
    margin-left: 20px;
    font-size: 2rem;
}

.cookie-container > button {
    align-self: center;
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: black;
}