* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dialog {
    position: absolute;
    top: 55vh;
    left: 155vh;
    border: none;
}

.cookie-container {
    border: 2px solid black;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-container {
    display: flex;
    justify-content: space-between;
}

.inner-container > button {
    background-color: transparent;
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}

.inner-container > img {
    margin-top: 20px;
    margin-left: 40px;
    width: 100px;
    height: 100px;
}

.cookie-container > p {
    width: 60%;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 2rem;
}

.cookie-container > button {
    align-self: center;
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: black;
    cursor: pointer;
}

.cookie-container > button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
